<section>
  <h1>React tips</h1>

  <small>
    Yevhen Shemet<br />
    github: <a target="_blank" href="https://github.com/yevhene/present-react-tips">yevhene/present-react-tips</a>
  </small>
</section>

<section>
  <h2>Binding</h2>

  <section>
    <h3>React.createClass</h3>

    <pre><code class="javascript" data-trim contenteditable>
// This magically works with React.createClass
// because `this` is bound for you.
onChange={this.handleChange}
    </code></pre>
  </section>

  <section>
    <h3>Bind</h3>

    <pre><code class="javascript" data-trim contenteditable>
onChange={this.handleChange.bind(this)}
    </code></pre>

    <b>Danger: Bad performance</b>
  </section>

  <section>
    <h3>Arrow function</h3>

    <pre><code class="javascript" data-trim contenteditable>
onChange={e =&gt; this.handleChange(e)}
    </code></pre>

    <b>Danger: Bad performance</b>
  </section>

  <section>
    <h3>Bind in constructor</h3>

    <pre><code class="javascript" data-trim contenteditable>
constructor(props) {
  super(props);
  this.handleChange = this.handleChange.bind(this);
}
    </code></pre>
  </section>

  <section>
    <h3>Arrow function in Class property</h3>

    <pre><code class="javascript" data-trim contenteditable>
handleChange = () =&gt; {
  // call this function from render
  // and this.whatever in here works fine.
};
    </code></pre>
  </section>
</section>

<section>
  <h2>setState</h2>

  <section>
    <h3>Synchronous</h3>

    <pre><code class="javascript" data-trim contenteditable>
setState({
  counter: this.state.counter + 1
});

afterStateChange();
    </code></pre>

    <b>Danger: Not So Synchronous</b>
  </section>

  <section>
    <h3>Asynchronous callback</h3>

    <pre><code class="javascript" data-trim contenteditable>
setState({
  counter: this.state.counter + 1
}, () =&gt; {
  afterStateChange();
});
    </code></pre>
  </section>

  <section>
    <h3>Asynchronous</h3>

    <pre><code class="javascript" data-trim contenteditable>
setState((prevState) =&gt; {
  counter: prevState.counter + 1
}, () =&gt; {
  afterStateChange();
});
    </code></pre>
  </section>
</section>

<section>
  <h2>References</h2>

  <section>
    <h3>Legacy</h3>

    <pre><code class="javascript" data-trim contenteditable>
class Form extends Component {
  onSubmit() {
    sendForm({ name: this.input.value });
  }

  render() {
    return <input ref="input" />;
  }
}
    </code></pre>
  </section>

  <section>
    <h3>Old</h3>

    <pre><code class="javascript" data-trim contenteditable>
class Hello extends React.Component {
  constructor() {
    super();
    this.refDict = {};
  }

  render() {
    return
      &lt;Repeat
        times="3"
        template={i =&gt;
          &lt;span ref={el =&gt; this.refDict[i] = el}&gt;
            Hello {i}
          &lt;/span&gt;
        }
      /&gt;;
  }
}
    </code></pre>
  </section>

  <section>
    <h3>New</h3>

    <pre><code class="javascript" data-trim contenteditable>
class MyComponent extends React.Component {
  constructor(props) {
    super(props);
    this.input = React.createRef();
  }

  onSubmit() {
    sendForm({ name: this.input.current.value });
  }

  render() {
    return <input ref={this.input} />;
  }
}
    </code></pre>
  </section>
</section>

<section>
  <h2>Callbacks</h2>

  <section>
  </section>
</section>

<section>
  <h2>Питання?</h2>
</section>
