<section>
  <h2>React особливі моменти</h2>

  <small>
    Шемет Євген<br />
    github: <a target="_blank" href="https://github.com/yevhene/present-react-tips">yevhene/present-react-tips</a>
  </small>
</section>

<section>
  <h2>Питання?</h2>
</section>
